/* Add your CSS styles here */
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
}

header, footer {
    background-color: transparent;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    position: fixed;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    top: 0;
}

footer {
    bottom: 0;
}

.header-content, .footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 10px;
    white-space: nowrap;
}

.left-section {
    display: flex;
    align-items: center;
}

.nav-button {
    font-family: Georgia, serif;
    font-size: 15px;
    background-color: #00000000;
    color: white;
    border: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 11px;
    text-decoration: none;
}

.file-dropdown button, .edit-dropdown button, .theme-dropdown button {
    font-family: Georgia, serif;
    font-size: 15px;
    background-color: #00000000;
    color: white;
    border: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 11px;
}

.editor-container {
    background-color: rgb(238, 238, 238);
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 40px; /* Adjust height based on header height */
    margin-bottom: 40px; /* Adjust height based on footer height */
    height: calc(100vh - 100px);
}

.suggestions {
    width: 100%;
    max-height: 50px; /* Adjust height as needed */
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-wrap: nowrap; /* Prevent wrapping to new lines */
    overflow-x: auto; /* Enable horizontal scrolling */
    overflow-y: hidden; /* Disable vertical scrolling */
    border: 1px solid #ccc;
    padding: 5px;
    box-sizing: border-box;
}

.suggestions div {
    margin: 0 5px;
    background-color: #2c2c2c;
    color: #ffffff;
    padding: 8px;
    cursor: pointer;
    white-space: nowrap; /* Ensure text does not wrap */
}

.suggestions div:hover {
    background-color: #007BFF;
}


.tabs {
    display: flex;
}

.tab {
    padding: 10px;
    border: 1px solid white;
    border-bottom: none;
    background-color: rgb(238, 238, 238);
    cursor: pointer;
    display: flex;
    align-items: center;
}

.tab.active {
    background-color: #007BFF;
    color: white;
}

.close-tab {
    margin-left: 10px;
    cursor: pointer;
}

.CodeMirror {
    flex: 1;
    height: 100%;
}

.file-dropdown, .edit-dropdown, .theme-dropdown {
    position: relative;
    display: inline-block;
}

.file-dropdown-content, .edit-dropdown-content, .theme-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.file-dropdown-content a, .edit-dropdown-content a, .theme-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.file-dropdown-content a:hover, .edit-dropdown-content a:hover, .theme-dropdown-content a:hover {
    background-color: #007BFF;
    color: white;
}

.file-dropdown:hover .file-dropdown-content, .edit-dropdown:hover .edit-dropdown-content, .theme-dropdown:hover .theme-dropdown-content {
    display: block;
}

.light {
    background-color: #007BFF;
}

.close-tab.light {
    color: #000000;
}

.tabs.light {
    background-color: #000000;
}

.night {
    background-color: #2c2c2c;
    color: rgb(0, 0, 0);
}

.close-tab.night {
    color: #ffffff;
}

.tabs.night {
    background-color: #000000;
}

#theme-switcher button {
    margin-left: 5px;
}

.suggestions::-webkit-scrollbar {
    width: 4;
    height: 4px;
}

.suggestions::-webkit-scrollbar-track {
    background: rgb(238, 238, 238);     /* color of the tracking area */
    width: 4px;
}

.suggestions::-webkit-scrollbar-thumb {
    background-color: #007BFF;   /* color of the scroll thumb */
    border-radius: 25px;       /* roundness of the scroll thumb */
    border: 1px solid transparent;  /* creates padding around scroll thumb */
}